<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Tasks</title>
</head>
<body>
    <a href="/tasks/delete/<%= taskResponse.info[0].id %>">Delete</a>
    <p><%= taskResponse.info[0].title %></p>
    <p><%= taskResponse.info[0].content %></p>
</body>
</html>