<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pending Tasks</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<%- include("./partials/navbar.ejs") %>
  <div class="flex-center-column tasks-list mb-5">
    <h2 class="little-title">Tasks</h2>
    <table>
      <% for(var i = 0; i < tasksResponse.info.length; i++) {%>
        <tr>
          <td><span class="normal-text"><%= tasksResponse.info[i].title %></span></td>
          <td>
            <a href="/tasks/task/<%= tasksResponse.info[i].id %>" class="normal-text">Detail</a>
          </td>
        </tr>
      <% } %>
	  </table>
  </div>
</body>
</html>