<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pending Tasks</title>
</head>
<body>
	<%- include("./partials/navbar.ejs") %>
    <h2>Tasks</h2>
    <table>
        <% for(var i = 0; i < tasksResponse.info.length; i++) {%>
            <tr>
                <td><%= tasksResponse.info[i].title %></td>
                <td>
                    <a href="/tasks/task/<%= tasksResponse.info[i].id %>">Detail</a>
                </td>
            </tr>
        <% } %>
	</table>
</body>
</html>