<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pending tasks</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%- include("./partials/navbar.ejs") %>
  <div class="flex-center-column form-container mb-8">
    <h2 class="little-title">Update task</h2>
    <form action="/tasks/update/<%= task.id %>" method="post" class="flex-center-column form">
      <label for="title" class="mb-1 normal-text">Title</label>
      <input
        id="title"
        type="text"
        name="title"
        class="mb-1-5 normal-text input"
        value="<%= task.title %>"
      />
      <label for="type" class="mb-1 normal-text">Type</label>
      <select id="title" name="type" class="mb-1-5 normal-text input">
        <option value="Work"><span class="normal-text">Work</span></option>
        <option value="Money"><span class="normal-text">Money</span></option>
        <option value="Others"><span class="normal-text">Others</span></option>
      </select>
      <label for="content" class="mb-1 normal-text">Content</label>
      <textarea
        id="content"
        type="text"
        name="content"
        rows="10"
        cols="30"
        class="mb-1-5 normal-text input"
      ><%= task.content %></textarea>
      <input type=submit value="Submit" class="normal-text" />
    </form>
  </div>
</body>
</html>